.gmap-button {
    background-color: #FFF;
    cursor: pointer;
    padding: 1px 6px;
    margin: 5px;
    border: 1px solid #999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gmap-button-group {
    overflow: auto;    
    margin: 5px;
}

.gmap-button-group .gmap-button {
    float: left;    
    margin: 0;
    margin-left: -1px;
}

.gmap-button:hover {
    background-color: papayaWhip;
}
